<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>com.mysql.mysqld</string>
  <key>Program</key>
  <string>/usr/local/Cellar/mysql/5.5.15/bin/mysqld_safe</string>
  <key>ProgramArguments</key>
  <array>
  	<string>--datadir=/Volumes/mysqld</string>
  	<string>--pid-file=/Volumes/mysqld/bigboy.pid</string>
  	<string>--log-error=/Volumes/mysqld/bigboy.error</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>UserName</key>
  <string>ijonas</string>
  <key>WorkingDirectory</key>
  <string>/usr/local/var</string>
</dict>
</plist>
